<div class="results-container">
    <h2 class="results-title">Тест завершен!</h2>
    
    <div class="score">Ваш результат: {{correct_answers}}/10</div>
    
    <div class="actions">
        <button onclick="window.location.href='/'" class="btn btn-primary btn-custom">Главное меню</button>
        <button onclick="window.location.href='/test'" class="btn btn-success btn-custom">Новый тест</button>
    </div>
</div>